* {
    margin: 0;
    padding: 0;
}

body {
    background: #607CD6;
}

.container {
    width: 80%;
    margin: 80px auto;
}

.container h1 {
    padding: 60px 0;
    color: #fff;
    font-size: 44px;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
    min-width: 250px;
}

.img {
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.img_peq {
    display: flex;
    background: #efefef;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
}

.img_peq {
    position: relative;
}

.img_peq img {
    width: 150px;
}

.img_peq p {
    margin-left: 20px;
    color: #707070;
    line-height: 22px;
    font-size: 15px;
}

.btn_play {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}